<h3>Hey, Cécilie ! You received a new message from your app !</h3>

<h4>Name : </h4> {{ name }}
<h4>Email : </h4> {{ email }}
<h4>Subject : </h4> {{ subject }}
<h4>Message : </h4>
<p>{{ message }}</p>



